* {
margin: 0;
padding: 0;
}
.homeBg{
  height: 50vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:aliceblue;
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)) ,url(../src/images/bg.jpg);
}
.main-container{
  background-color: #2a2438;
  padding-top: 50px;
}